<!-- include -->
<%- include("./layouts/header"); -%> 
<div class="container-fluid">
    <a href="/item" class="btn btn-sm btn-info">item</a>
    <a href="/transaction" class="btn btn-sm btn-secondary">transaction</a>
    <a href="/company" class="btn btn-sm btn-primary">company</a>
</div>
  
<%- include("./layouts/footer"); -%> 